!!! HTML5
%html
  %head
    %meta(charset="UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title smLNK.rb - smLNK link shortening service reborn in Ruby, Sinatra, and Redis
    %meta(name="description" content="smLNK.rb - Link shortening redirector written in ruby based on smLNK (2001)")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    %link(rel="stylesheet" href="/css/smLNK.css")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js")
    :javascript
      $(document).ready(function() {
        $('#shorten').submit(function() {
          $.post(
            $(this).attr('action'),
            $(this).serialize(),
            function(data) {
              $('#results').html(data);
            },
            "text"
          );
          return false;
        });
      });
  %body
    #header
      %h1 smLNK.rb 
    #content
      =yield
    #footer
      %p
        smLNK.rb is a link shortening service written in
        %a(title="Ruby" href="http://www.ruby-lang.org/en/") Ruby
        and
        %a(title="Sinatra" href="http://www.sinatrarb.com/") Sinatra
        with a
        %a(title="Redis" href="http://redis.io/") Redis
        datastore. Get the source on
        %a(title="cloudfoundry-smlnk" href="https://github.com/jwmarshall/cloudfoundry-smlnk") GitHub!

